#paraOne{
    background-color: red;
    height: 200px;
    width:300px;

    /* METHOD # 01 for bordering */
    /* border-width: 4px;
    border-color: blue;
    border-style: solid; */

    /* METHOD # 02 for bordering */
    border: 4px solid blue;
    border-radius:23px;
}

#paraTwo{
    background-color:aquamarine;
    height: 200px;
    width: 300px;
    
    border-top: 3px solid green;
    border-left: 5px solid orange;
    border-right: 7px solid red;
    border-bottom: 4px solid slateblue;

    border-top-left-radius: 7px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 51px;
}

/* Adding image as background */
#paraThird{
    height: 750px;
    width: 810px;
    background-image: url('background_image.jpg');
    background-repeat: no-repeat; /*repeat-x will repeat for x-axis
                                    repeat-y will repeat for y-axis */
    background-position: center center;
    /* 
    background-position: center left;
    background-position: center right;

    background-position: bottom left;
    background-position: bottom right;
    background-position: bottom center;

    background-postion: top left;
    background-position: top right;
    background-position: top center;
    */
    border: 5px solid red;
}